html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(29, 100, 192);
}

img {
  width: 100px;
  margin-top: 10px;
  margin-left: 10px;
  height: 100px;
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: red;
}